#div{
  width: 200px;
  height: 200px;
  position: relative; /* Box would not move with out being absolute or relative*/
  background-color: #FA6900;
  border-radius: 5px;
  text-align: center;
}

.square {
  height: 50px;
  width: 50px;
  background-color: #555;
  padding: 50px;
}
