
/* For Everything */
*{
  box-sizing: border-box;
}

.body{
    margin: 1px;
    padding: 5px;
    overflow: scroll;
}


/*---------------- Main Page --------------------------*/

/* header 3 linkes */
.topnav{
  overflow: auto;
  background-color: #0b132b;
}

.topnav a{
  float:left;
  display: block;
  color:#5bc0be;
  text-align: center;
  padding: 10 px 14px;
  width: 16.66%;
  font-size:30px;
  text-decoration: none;
}


/* change roll over color*/
.topnav a:hover{
  background-color: #ddd;
  color: #000;
}

/* We are... We help... We hope*/
.row{
  border: none;
  background-color: #81b29a;
}

/* Line under We are... We hope.. */
hr.Line {
  border-top: 5px solid black;

}

.determinate{
  color: black;
}

/*Clear floates after the colums*/
.row:after{
    content: "";
    display: table;
    clear:both;
}

/*Divided web page into 3 parts*/
.column{
  float: left;
  width: 33.33%;
  height: 50%;
  padding: 15px;

}


.column1{
  float: left   ;
  width: 50;
  height: 50%;
  padding: 15px;

}


.column2{
  float: right;
  width: 50%;
  height: 50%;
  padding: 15px;

}




.page-footer{
  background-color: #14213d;
  height: 240px;
  padding: 15px;
  padding-left: 10px;
}

#footerText{
  color: ghostwhite;
  text-align: justify;

}


/* ------  footer  - icons ----------------*/

/* Style all font awesome icons */
.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}


/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-instagram {
  background: #bc2a8d;
  color: white;
}

.fa-linkedin{
  background:#0e76a8;
  color:white;
}

.fa-github{
  background: #333;
  color: white;
}



/* ----------------------------------- Cat & Dog Both can use:
                                      table: h3,p,catAndDogTable --------------------------------------

 */

/* h3 Name*/
h3{
  text-align: center;
  font-size: 26px;
  color: #772e25;
  font-family: Verdana, sans-serif;
}

p{
  font-weight: bold;
  color: #197278;
  text-align: center;
  font-family: Verdana, sans-serif;
}

.catAndDogTable{
  padding: 10px;
  width: 100%;
}

#Text{
  color: #772e25;
}

.verticalLine {
  border-left: 4px solid #283d3b;
  height: 80px;
}

.PetTextBox{
  background-color: #c9ada7;
  border-radius: 25px;
  text-align: center;
  width: 1700px;
}

#PetText{
  font-family: 'Times New Roman', serif;
  color: #293241;
  font-size: 40px;
}

#PetText-big{
  text-decoration: underline;
  font-size: 55px;
  color: white;
}



/* ----------------------------- Q & A Section ---------------------------*/

#ForAllQA{
  width:100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.QAContainer{
  width: 40%;
  max-width: 50tem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.accordion-item{
  background-color: #463f3a;
  border-radius: 0.4rem;
  margin-bottom: 1rem;
  padding: 1rem;
  box-shadow: 0.5rem 2px 0.5rem rgba(0,0,0,0.1);

}

/*Link - Question*/
.accordion-link{
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  background-color: #463f3a;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

.accordion-link i{
  color: #e7d5ff;
  padding: 0.5rem;
}

/*answer*/
.answer{
  max-height: 0;
  overflow: hidden;
  position: relative;
  background-color: #8a817c;
  transition: max-height 650ms;
}

.answer::before{
  content: "";
  position: absolute;
  width: 0.6rem;
  height: 90%;
  background-color: #e0afa; /*V Line*/
  top:50%;
  left: 0;
  transform: translateY(-50%);
}

.answer p{
  color: #f4f3ee;
  font-size: 1.4rem;
  padding: 2rem;
}

/*when the icon been click, the answer has this style*/
.accordion-item:target .answer{
  max-height: 20rem;
}


/*-------------------------------- Donate page ------------------------------------*/
.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 50px;
  margin: 4px 2px;
  cursor: pointer;
}

.DonateB{
  background-color: #008CBA;
}


h2{
    color: #4863A0;
    font-family: Verdana, sans-serif;
}
